<ul class="nav nav-tabs">
   <li  class="btn btn-info animated bounceInLeft" >
      <a ui-sref="menu">
      <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
      Inicio 
      </a>
   </li>
   <li class="btn btn-info animated bounceInLeft" >
      <a ui-sref="alta">
      <span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
      Alta
      </a>
   </li>
   <li  class="btn btn-info animated bounceInLeft" >
      <a ui-sref="grilla"> 
      <span class="glyphicon glyphicon-th" >&nbsp;</span>
      Grilla</a>
   </li>
   <!--<li ng-if="auth.isAuthenticated()" class="btn btn-info animated bounceInLeft" >
   		<a ng-click="Logout()">Logout</a>
   </li>-->
   <!--<li ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
   	  <a ng-click="Logout()">Logout</a>
   	</li>-->
  
   <!--<span id="infoDeUsuario1" class="animated bounceInRight">Bienvenido {{infoDeUsuario}}. <a>Log Out</a>  &nbsp;&nbsp;&nbsp;</span>-->
</ul>